$color-primary: #2C3D39;
$color-secondary: #7fdbff;

$color-side: #627b7a;
$color-ligth: #ffffff;
$color-blue: #418AF2;
$color-gray: #D9D9D9;
$color-black: #000000;
$color-red: #E61610;
$color-green: #699707;

$font-size-base: 24px;
$font-size-button: 14px;
$font-size-text: 16px;
$font-size-circle: 11px;
