@import "variables";

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: $color-side;

  a {
    text-decoration: none;
    color: $color-ligth;
    &:visited {
      color: inherit;
    }
  }
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  scrollbar-gutter: stable both-edges;
  
}

.display-flex {
  display: flex;
}
.text-success {
  color: $color-green;
}

::-webkit-scrollbar {
  display: none;
}
